
.logoheader {
  background: url('images/logo@2x.png') 0 50%/64px no-repeat;
  color: #439c70;
  font-size: 24px;
  font-weight: normal;
  height: 64px;
  line-height: 64px;
  margin: 19px 0 0 19px;
  padding: 10px 0px 0px 64px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: left;
  padding: 14px 16px;
}

.footer a {
  color: white;
}

.instruments {
  font-family: arial, sans-serif;
  width: 100%;
  text-align: right;
}

.numeric{
  border: none;
  text-align: right;
  padding: 8px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #3a855f;
}

.active {
  color: #66cc99 !important;
}